<!DOCTYPE html>
<html>
<head></head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<body>
<div th:remove="tag" th:fragment="footer">
    <script type="text/javascript" src="../../static/js/lib/jquery-2.1.4.min.js" th:src="@{/js/lib/jquery-2.1.4.min.js}"></script>
	<script  type="text/javascript" src="../../static/js/lib/bootstrap.min.js"  th:src="@{/js/lib/bootstrap.min.js}"></script>
    <script  type="text/javascript" src="../../static/js/lib/datatables.min.js"  th:src="@{/js/lib/datatables.min.js}"></script>
    <script  type="text/javascript" src="../../static/js/lib/fnReloadAjax.js" th:src="@{/js/lib/fnReloadAjax.js}"></script>
    <script  type="text/javascript" src="../../static/js/lib/select2.min.js" th:src="@{/js/lib/select2.min.js}"></script>
    <script  type="text/javascript" src="../../static/js/lib/highcharts.js" th:src="@{/js/lib/highcharts.js}"></script>
    <script  type="text/javascript" src="../../static/js/lib/exporting.js" th:src="@{/js/lib/exporting.js}"></script>
    <!--  script  type="text/javascript" src="../../static/js/lib/jquery-ui.js" th:src="@{/js/lib/jquery-ui.js}"></script -->
    <!-- <script  type="text/javascript" src="../../static/js/lib/jquery.dataTables.min.js" th:src="@{/js/lib/jquery.dataTables.min.js}"></script> -->
 </div>
</body>
</html>