<!DOCTYPE html>
<html>
<head th:remove="tag" th:fragment="commonhead">
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css" href="../../static/css/lib/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/lib/datatables.min.css"  th:href="@{/css/lib/datatables.min.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/lib/select2.min.css" th:href="@{/css/lib/select2.min.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/lib/select2-bootstrap.min.css" th:href="@{/css/lib/select2-bootstrap.min.css}"/>
<!-- <link rel="stylesheet" type="text/css" href="../../static/css/lib/jquery.dataTables.min.css" th:href="@{/css/lib/jquery.dataTables.min.css}"/> -->
</head>
<body>
	<nav th:fragment="header" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
	          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
          	  <a class="navbar-brand" href="#" >SalesFast</a>
        	</div>
        	<nav class="navbar-collapse collapse">
	          <ul id="book-store-navbar" class="nav navbar-nav">
	            <li id="nav-home"><a href="#">Home</a></li>
	            <li id="nav-alignment"><a href="./showalignments">Alignments</a></li>
	            <li id="nav-target-incentive"><a href="./targetandincentive" >Target And Incentive</a></li>
	            <li id="nav-appointment"><a href="./appointment" >Appointment</a></li>
	            <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a>English</a></li>
		            <li><a>Japanese</a></li>
		          </ul>
		        </li>
	            <li id="nav-logout"><a href="/testpage" >Logout</a></li>
	          </ul>
	        </nav>
		</div>
	</nav>
</body>
</html>