.row-header{
	margin-top: 7%;
	border-bottom: 2px solid #1910A2;
	padding-top: 1%;
    padding-bottom: 0%;
}

.newproduct-middle-panel{
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	/* width: 64%;
    height: 100%; */
}
.form-group{
	margin: 0% 0% 3% 0%;
    padding: 2% 8% 3% 7%;
}
.submit-product-btn{
    width: 100%;
    margin-left: -75%;
    margin-top: 10%;
    border-radius: 0px;
    font-weight: 600;
    background-color: #94BF94;
    
}