@CHARSET "ISO-8859-1";

.submit-for-appointments{
	padding-left: 15px;
    padding-right: 15px;
}
.appointment-time, .appointment-date{
	color: black;
}

.alignment-table-row{
	margin-right: -15%;
    margin-left: -15%;
    width: 130%;
}

table#aligned-physician-table>thead>tr {
    font-style: italic;
}