@CHARSET "ISO-8859-1";

.submit-for-appointments{
	padding-left: 15px;
    padding-right: 15px;
}
.appointment-start-time, .appointment-end-time, .appointment-date{
	color: black;
}

.alignment-table-row{
	margin-right: -15%;
    margin-left: -15%;
    width: 130%;
}

table#aligned-physician-table>thead>tr {
    font-style: italic;
}

span#time-unit {
    margin-left: 4px;
    font-style: italic;
}

td.appointment-time-td{
	width: 1%;
}

.appointment-start-time{
	margin-left: 3px;
    margin-bottom: 3px;
}

.appointment-end-time{
	margin-left: 7px;
}

span.time-label {
    font-size: smaller;
}
select.appointment-status-selector.validate-ele.appointment-paramaters {
    color: black;
}