@CHARSET "ISO-8859-1";

.submit-for-appointments{
	padding-left: 15px;
    padding-right: 15px;
}
.appointment-start-time, .appointment-end-time, .appointment-date{
	color: black;
}

.alignment-table-row{
	margin-right: -15%;
    margin-left: -15%;
    width: 130%;
}

table#aligned-physician-table>thead>tr {
    font-style: italic;
}

span#time-unit {
    margin-left: 4px;
    font-style: italic;
}

td.appointment-time-td{
	width: 1%;
}

.appointment-start-time{
	margin-left: 3px;
    margin-bottom: 3px;
}

.appointment-end-time{
	margin-left: 12px;
}

span.time-label {
    font-size: smaller;
}
select.appointment-status-selector.validate-ele.appointment-paramaters {
    color: black;
}

table#aligned-physician-table{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

button.btn.btn-default.btn-md.show-contact.form-control {
    border-radius: 0px;
        width: 100%;
    height: 32px;
    vertical-align: middle;
}

span.glyphicon.glyphicon-plus {
    float: left;
}

.phys-address {
    display: inline-flex;
        padding: 0px;
}

span.contactdetail-label {
    width: 27%;
    font-style: italic;
}

span.contactdetail-content {
    font-weight: 600;
    width: 65%;
}

td.contact-details {
    width: 19%;
}