@CHARSET "ISO-8859-1";

.slidedown-alignments{
    margin-left: 14px;
	text-align: -webkit-auto;
    width: 100%;
}

.submit-for-appointments {
    padding-left: 15px;
    padding-right: 15px;
}

.appointment-time, .appointment-date{
	color: black;
}

.update-buttons-row{
	margin-bottom: 15px;
    margin-top: 10px;
}

.future-appoint-modal-content{
	width: 170%;	
}

#futureappointment-close-button{
    margin: 0% 50% 0% 0%;
}

.confirmation-status{
	font-style: italic;
    font-weight: 600;
}

.show-vicinity-alignments-btn{
	margin-bottom: 1%;
    margin-top: 2.5%;
}