@CHARSET "ISO-8859-1";

#appointment-fixed-physician-table{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

td#caption{
	font-style: oblique;	
}

td#value{
	font-size: large;
    font-family: initial;
    font-weight: 600;
}
.cancel-btn-row{
    margin: 3% 0% 0% 40%;
}
