@CHARSET "ISO-8859-1";




.slidedown-alignments{
    margin-left: 14px;
	text-align: -webkit-auto;
    width: 100%;
    border-radius: 0px;
}

.submit-for-appointments {
    padding-left: 15px;
    padding-right: 15px;
}

.appointment-time, .appointment-date{
	color: black;
}

.update-buttons-row{
	margin-bottom: 15px;
    margin-top: 10px;
}

.future-appoint-modal-content{
	width: 170%;	
}

#futureappointment-close-button{
    margin: 0% 50% 0% 0%;
}

.confirmation-status{
	font-style: italic;
    font-weight: 600;
}

.show-vicinity-alignments-btn{
	margin-bottom: 1%;
    margin-top: 2.5%;
}
.row-header{
	margin-top: 7%;
	border-bottom: 2px solid #1910A2;
    padding-top: 1%;
    padding-bottom: 0%;
} 

h3{
	margin-top: 0%;
}

.submit-selected-followup-alignments{
    margin-left: 15px;
}

.modal-title{
	margin-bottom: -1%;
}
.modal-title-2{
	margin-top: 2%;
}

.modal-dialog-future-appointment{
	margin: 8% 0% 0% 25%;
}

.warning-meeting-update{
	color: orange;
    float: left;
    margin-left: -28%;
    font-size: large;
}

.meeting-status-div{
    padding-top: 2%;
}

div.future-appointment-div{
    margin-right: -70px;
    margin-left: -38px;
}

.cancelled-appointment-status {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 13%;
}



/**
Menu on left hand side
*/
#cssmenu {
	background: #21213A;
	list-style: none;
    margin: 0;
    padding: 0;
	width: 12em;
	margin-top: 3%;	
}
#cssmenu li {
  font: 91.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
    background: #21213A;
    border-bottom: 1px solid #393939;
    color: #ccc;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("../../app/images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

.outer-container {
    display: -webkit-inline-box;
}
.left-menu-ul{
    margin-top: 48%;
}

#cssmenu .left-menu-selected a {
	background: #2580a2 url("../../app/images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}

