@CHARSET "ISO-8859-1";


h1{
 	text-align: center; 
	margin-bottom: 30px;
	margin-top: 10%;
}

.select-bool-flag{
	width : 40%;
}
/* .navbar-style-override{
	background-color: #671B02;
}

.navbar-menu-items{
	color : white;
}

ul>a{
	color : white;
} */

.confirmation-status{
	font-style: italic;
    font-weight: 600;
}