@CHARSET "ISO-8859-1";

 
h1{
 	text-align: center; 
	margin-bottom: 30px;
	margin-top: 10%;
}
 
 
.select-bool-flag{
	width : 40%;
}

.confirmation-status{
	font-style: italic;
    font-weight: 600;
}
nav.navbar-collapse.collapse a{
	color: white;
}

.navbar-custom-style{
	background-color: #21213A;	
}

.product-dropdown-menu{
	background-color: #21213A;
}

a.navbar-brand.navbar-menu-items{
	color: white;
}

.notification-counter {   
    position: absolute;
    top: 13%;
    left: 87%;
    background-color: rgb(197, 114, 114);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 1px 5px;
    font: 12px Verdana;
}

.dropdown-menu>li>a:hover{
	background-color: cadetblue;
    font-weight: 600;
    color: black;
}

li.navbar-menu-selected>a.navbar-menu-items{
	background-color: cadetblue;
    font-weight: 600;
    color: black;
}

nav.navbar-collapse ul li:hover,nav.navbar-collapse ul li ul:hover,nav.navbar-collapse ul li.dropdown ul.product-dropdown-menu li:hover {
    background-color: cadetblue;
    font-weight: 600;
}


#cssmenu {
    background: #21213A;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12em;
    margin-top: 3%; 
}
#cssmenu li {
  font: 91.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
    background: #21213A;
    border-bottom: 1px solid #393939;
    color: #ccc;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("../../app/images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

.outer-container {
    display: -webkit-inline-box;
}
.left-menu-ul{
    margin-top: 48%;
}

#cssmenu .left-menu-selected a {
    background: #2580a2 url("../../app/images/hover.gif") left center no-repeat;
    color: #fff;
    padding-bottom: 8px;
}
li#nav-logout {
	margin-left: 2%;
}
ul#salesfast-navbar {
    width: 91%;
}

li#nav-loggedin-user {
    margin-top: 16px;
    color: #E6E1E1;
}

span.loggedin-user-span {
	margin-left: 147px;
}
