@CHARSET "ISO-8859-1";

.row-header{
	margin-top: 7%;
	border-bottom: 2px solid #1910A2;
} 
h1{
	margin-top: 0%;
}

.row-chart{
	margin-top: 5%;
}

.aggregated-report{
	margin-left: 25%;
}
.filter-selector-div {
    margin-top: 131px;
    margin-left: 0%;
    margin-right: -11%;
    border-right: solid 3px #E4E0E0;
    padding: 18px;
    background: #E9EEF5;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 18%;
    padding-left: 35px;
}

.filters-heading {
    font-size: 16px;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    font-weight: 600;
    border-bottom: solid 3px;
}

.filter-selector-label {
    margin-top: 20%;
    margin-bottom: 2%;
    /* border-bottom: solid 1px; */
    width: 74%;
}