@CHARSET "ISO-8859-1";

.row-header{
	margin-top: 7%;
	border-bottom: 2px solid #1910A2;
	padding-top: 1%;
    padding-bottom: 0%;
}

.row {
    width: 120%;
}

.row.product-selector-div {
    display: -webkit-inline-box;
}

div.product-description {
	border-style: solid;
    border-width: thin;
    padding: 1%;
    margin-left: 16%;
    background-color: antiquewhite;
    width: 20%;
}

span.select2.select2-container.select2-container--default.select2-container--below {
    width: 155px;
}

.descr-label{
	font-style: italic;
}

.descr-value {
    font-weight: 600;
}

.label-med-field{
	padding-right: 10px;	
}

.label-name{
	padding-right: 45px;	
}

.label-release-date{
	padding-right: 14px;	
}


.btn-left-panel{
	padding-right:20px; 
	/*border-right: 1px solid #ccc;  */
	width: 18%;
}
.doc-middle-panel{
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	width: 64%;
    height: 100%;
    margin-top: 2%;
}
.update-right-panel{
	width: 18%;
}

.show-doc{
	border-radius: 0px;
}

button.btn.btn-default.btn-md.show-doc.form-control {
    margin-top: 11%;
	white-space: normal;
    height: 0%;
}

.row-custom-style{
	border-style: solid;
    border-width: thin;
    padding-bottom: 8%;
    margin-top: 3%;
    height: 723px;	
}

.pdf-doc-object{
	width: 100%;
    height: 100%;
}

.form-group{
	margin-top: 15%;
}

.btn-container{
	margin-top: 7%;
}

.comments-div{
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    
}

.show-comments{
    width: 70%;
    border-radius: 0px;
	text-align: left;
	font-family: sans-serif;
    font-weight: 600;
}

.comment-row{
	margin-top: 2%;
	margin-left: 1px;
}

#side-effect-comments, #other-comments{
	border-style: solid;
    border-width: 1px;
    padding: 3px 0px 0px 5px;
    margin: 0px 17px 0px 0px;
}

.analysis-right-panel{
	border-left: 2px solid #ccc;
    /* height: 100%; */
    margin-top: 2%;
}

.comment-row{
	margin-top: 2%;
	margin-left: 1px;
}
.product-selector-label{
	font: 91.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-weight: bold;
    border-bottom-style: solid;
    padding-bottom: 6px;
    margin-bottom: 7px;
    border-bottom-width: thin;
}