@CHARSET "ISO-8859-1";

.analysis-right-panel{
	border-left: 2px solid #ccc;
    height: 100%;
}

.row-header{
	margin-top: 7%;
	border-bottom: 2px solid #1910A2;
	padding-top: 1%;
    padding-bottom: 0%;
}
 
button.show-analysis-button-clicked{
	background-color: lightsteelblue;
}

button.btn.btn-default.btn-md.show-analysis.form-control {
    margin-bottom: 5%;
    background-color: #E9EAF5;
}

.comments-div{
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    
}

.show-comments{
    width: 70%;
    border-radius: 0px;
	text-align: left;
	font-family: sans-serif;
    font-weight: 600;
}

.comment-row{
	margin-top: 2%;
	margin-left: 1px;
}

#side-effect-comments, #other-comments{
	border-style: solid;
    border-width: 1px;
    padding: 3px 0px 0px 5px;
    margin: 0px 17px 0px 0px;
}

 
button.btn.btn-default.btn-md.show-analysis.form-control.show-analysis-button-clicked{
	background-color: lightsteelblue;
}

