@CHARSET "ISO-8859-1";

.row-header{
	margin-top: 7%;
	border-bottom: 2px solid #1910A2;
	padding-top: 1%;
    padding-bottom: 0%;
}

.action-buttons-row{
	margin-bottom: 15px;
    margin-top: 10px;
}

.warning-meeting-update{
	color: orange;
    float: left;
    margin-left: -28%;
    font-size: large;
}