<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="modal fade" id="meetingexperience-add-phys-modal" role="dialog" data-edit-mode="false" th:fragment="addmeetingexperiencemodalphys">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="addMeetingExperienceLabel">Meeting experience</h4>
				</div>
				<div class="modal-body">
					<form id="meeting-experience-form" class="form-horizontal">
						<div class="form-group" id="physicianStatus" style="display:none">
							<label class="col-xs-3 control-label" id="status-label">Status</label>
							<div class="col-xs-7">
								<input name="status" type="text" class="form-control validate-ele" id="status-id" disabled="disabled"/> 
							</div>
						</div>
												
						<div class="form-group">
							<label class="col-xs-7 control-label" id="liked-product-id">Did you genuinely liked the product?</label>
							<div class="col-xs-5">
								<select class="likedproduct-flag-selector validate-ele form-control select-bool-flag" name="liked-product">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="price-affordable-id">Do you think the price is affordable?</label>
							<div class="col-xs-5">
								<select class="priceaffordable-flag-selector validate-ele form-control select-bool-flag" name="price-affordable">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="less-sideeffects-id">Do you think medicine has less side effects?</label>
							<div class="col-xs-5">
								<select class="less-sideeffects-flag-selector validate-ele form-control select-bool-flag" name="less-side-effects">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-7 control-label" id="liked-presentation-id">Did you like the presentations?</label>
							<div class="col-xs-5">
								<select class="likedpresentation-flag-selector validate-ele form-control select-bool-flag" name="liked-presentation">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="confidence-factor-id">Were influenced by SalesRep's confidence during presentation?</label>
							<div class="col-xs-5">
								<select class="confidence-flag-selector validate-ele form-control select-bool-flag" name="confidence-factor">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="company-reputation-id">Are you impressed with BioPharma's reputation?</label>
							<div class="col-xs-5">
								<select class="companyreputation-flag-selector validate-ele form-control select-bool-flag" name="company-reputation">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" id="appointment-id" style="display:none">
							<label class="col-xs-3 control-label" id="appointment-id-label">Appointment Id</label>
							<div class="col-xs-7">
								<input name="status" type="text" class="form-control validate-ele" id="appointment-id" disabled="disabled"/> 
							</div>
						</div>
						
					</form>
				</div>
				<div class="modal-footer">
					<button id="meetingexperience-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="meetingexperience-add-phy-button" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>