<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}"/>
<title>Data Report</title>
</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="../static/js/allmeetingsdata.js" th:src="@{/js/allmeetingsdata.js}"></script>
</body>
</html>