<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<div th:replace="fragments/header :: commonhead"></div>
<title>Data Report</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
<!-- 	
<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
 -->

<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/allmeetingsdata.js"></script>
</body>
</html>