<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/answeraques.css"/>
<meta charset="UTF-8" />
<title>Answer a question</title>
</head>
<body>

	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container body-container" id="layout">
		<div class="row row-header page-header"><h3>Answer a question</h3></div>
		
	</div>


<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="resources/app/js/answeraques.js"></script>
</body>
</html>