<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/answeraques.css"/>
<meta charset="UTF-8" />
<title>Answer a question</title>
</head>
<body>

	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="outer-container">
		<div class="left-nav" id='cssmenu'>
			<ul class="left-menu-ul">
				<li class='active live-meeting-qna-li' ><a href='/livemeetingquestions'><span>LIVE MEETING QnA</span></a></li>
				<li class='last submit-answer-li'><a href='/unansweredques'><span>ANSWER A QUESTION</span></a></li>
				<li class='sample-med-li'><a href='/samplefeedbackreport'><span>MEDICINE FEEDBACKs</span></a></li>
				<li class='last all-pitches-li'><a href='/allpitches'><span>VIEW ALL PITCHES</span></a></li>
			</ul>
		</div>
		<div class="container body-container" id="layout">
			<div class="row row-header page-header"><h3>Answer a question</h3></div>
			
		</div>
	</div>


<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="resources/app/js/answeraques.js"></script>
</body>
</html>