<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/answeraques.css"/>
<meta charset="UTF-8" />
<title>Answer a question</title>
</head>
<body>

	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container body-container" id="layout">
		<div class="row row-header page-header"><h3>Answer a question</h3></div>
		<!-- <div class="row col-lg-12 submit-answer">
			<form id="enter-answer-form" class="form-horizontal" >
				<div class="form-group question-ele">
					<label class="control-label" id="enter-question-label">Question</label>
					<input name="question" type="text" class="form-control validate-ele" id="question" disabled="disabled"/>
				</div>
				
				<div class="form-group write-your-answer-ele" >
					<label class="control-label" id="live-answer-label">Answer</label>
					<textarea name="answer" class="form-control answer" id="submit-answer-id" 
					placeholder="write your answer" rows="3" required="required" ></textarea>
				</div>
				<button type="button" class="btn btn-default submit-question-btn">Submit</button>
			</form>
		</div>
		<div class="row col-lg-12 submit-answer">
			<form id="enter-answer-form" class="form-horizontal" >
				<div class="form-group question-ele">
					<label class="control-label" id="enter-question-label">Question</label>
					<input name="question" type="text" class="form-control validate-ele" id="question" disabled="disabled"/>
				</div>
				
				<div class="form-group write-your-answer-ele" >
					<label class="control-label" id="live-answer-label">Answer</label>
					<textarea name="answer" class="form-control answer" id="submit-answer-id" 
					placeholder="write your answer" rows="3" required="required" ></textarea>
				</div>
				<button type="button" class="btn btn-default submit-question-btn">Submit</button>
			</form>
		</div> -->
	</div>


<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="resources/app/js/answeraques.js"></script>
</body>
</html>