<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/appointcancellation.css"/>
<meta charset="ISO-8859-1" />
<title>SalesFast Login</title>
</head>
<body>
	<div class="container">
		<div class="page-heading"><h1>Your appointment for today</h1></div>
		
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<table id="appointment-fixed-physician-table" class="table">
					<thead>
					</thead>
					<tbody>
						<tr style="display: none">
							<td id="caption">Appointment Id : </td>
							<td class="appointment-id" id="value" th:text="${appointmentDetail.appointmentId}"></td>
						</tr>
						<tr>
							<td id="caption">Sales Representative : </td>
							<td id="value" th:text="${appointmentDetail.salesRepName}"></td>
						</tr>
						<tr>
							<td id="caption">Organization : </td>
							<td id="value" th:text="${appointmentDetail.organisationName}"></td>
						</tr>
						<tr>
							<td id="caption">Product : </td>
							<td id="value" th:text="${appointmentDetail.product}"></td>
						</tr>
						<tr>
							<td id="caption">Time : </td>
							<td id="value" th:text="${appointmentDetail.time}"></td>
						</tr>
						<tr>
							<td id="caption">Status : </td>
							<td id="value" th:text="${appointmentDetail.status}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row cancel-btn-row">
			<button type="button" class="btn btn-danger cancel-appointment">Cancel Appointment</button>
		</div>
		
		<div class="modal fade" id="cancellation-reason" role="dialog" data-edit-mode="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content appointment-cancellation-reason">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="appointmentcancellation">Please provide reason for cancellation!</h4>
					</div>
					<div class="modal-body">
						<div class="cancellation-reason-text">
							<div class="form-group">
								<label for="cancellation-reason-id">Cancellation Reason: </label> 
								<textarea name="id" class="form-control cancellation-reason-class" id="cancellation-reason-id" placeholder="Cancellation Reason" rows="3">
								</textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="appointment-cancellation-button" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>	
		</div>
		<!-- <div class="form-appointment-div">
			<form class="form-appointment" action="#" th:action="@{/verifycredentials}"   method="post">
				<div class="form-field-div" id="login-form-fields">
					<label for="loginUsername" id="username-lbl">Sales Representative: </label>
					<input type="text" id="loginUsername" name="username" autofocus="autofocus" required="required" placeholder="User Name" />
					<label for="loginPassword" id="password-lbl">Password: </label>
					<input type="password" id="loginPassword" name="password" required="required" placeholder="Password" />
				</div>
				<div class="form-btn-div" id="login-form-btn"><button type="submit" value="Login">Login</button></div>
			</form>	
		</div> -->
	</div>

<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>