<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/edetailing.css"/>
<meta charset="ISO-8859-1" />
<title>e-Detailing</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container" id="layout">
		<div class="row row-header page-header"><h3>Know our products!</h3></div>
		<div class="row row-custom-style">
          <div class="col-lg-3 btn-left-panel">
          	
          </div>
        </div>
	</div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/edetailing.js"></script>
</body>
</html>