<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/livemeetingassistant.css"/>
<meta charset="UTF-8" />
<title>Live Meeting Assistant</title>
</head>
<body>

	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container" id="layout">
		<div class="row row-header page-header"><h3>Need assistance during the meeting!</h3></div>
		<div class="row show-all-questions">
		<button type="button" class="btn btn-info btn-md slidedown-questions">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<span>Click here to view all questions (sorted in order of importance)</span>
		</button>
		</div>
		<div class="row question-answer-div slidedown-question-answer-show" style="display: none;">
			<div class="col-lg-12 col-sm-12" >
				<table id="aligned-vicinity-physician-table" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th style="display:none">Physician Id</th>
							<th>Physician Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="eachVicinityAlignment : ${listOfPhysInVicinity}">
							<td style="display:none" th:text="${eachVicinityAlignment.physicianId}"></td>
							<td th:text="${eachVicinityAlignment.firstName} + ' '+${eachVicinityAlignment.lastName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row submit-for-appointments"><button type="submit" class="submit-selected-alignments">Submit Appointments</button></div>
		</div>

	</div>


<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="resources/app/js/livemeetingassitant.js"></script>
</body>
</html>