<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/login.css"/>
<meta charset="ISO-8859-1" />
<title>SalesFast Login</title>
</head>
<body>
	<div class="container">
		<div class="page-heading"><h1>Log in to SalesFast</h1></div>
		<div class="form-login-div">
			<form class="form-login" method="post" > <!--    th:action="@{/verifycredentials}"  -->
				<div class="form-field-div" id="login-form-fields">
					<label for="loginUsername" id="username-lbl" class="sr-only">User name: </label>
					<input type="text" id="loginUsername" class="form-control" name="username" autofocus="autofocus" required="required" placeholder="User Name" />
					<label for="loginPassword" id="password-lbl" class="sr-only">Password: </label>
					<input type="password" id="loginPassword" class="form-control" name="password" required="required" placeholder="Password" />
				</div>
				<div class="form-btn-div" id="login-form-btn"><button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button></div>
			</form>	
		</div>
	</div>

<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>