<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="modal fade" id="pastappointment-details-modal" role="dialog" data-edit-mode="false" th:fragment="past-appointment-details-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="furtherdetailmodal">Further Details</h4>
				</div>
				<div class="modal-custom-header-1 modal-header further-detail-modal-header">
					<h5 class="modal-title">SalesRep's experience about meeting</h5>
				</div>
				<div class="modal-body modal-body-1 meeting-exp-modal-body">
					<ul class="salesrep-response">
						
					</ul>
				</div>
				<div class="modal-custom-header-2 modal-header further-detail-modal-header">
					<h5 class="modal-title">Physician's experience about meeting</h5>
				</div>
				<div class="modal-body modal-body-2  meeting-exp-modal-body">
					<ul class="physician-response">
						
					</ul>
				</div>
				<div class="modal-custom-header-3 modal-header further-detail-modal-header">
					<h5 class="modal-title">Pitch used for the meeting</h5>
				</div>
				<div class="modal-body modal-body-3">
					
				</div>
				
				
				<div class="modal-footer">
					<button id="further-detail-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>