<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/pastappointment.css"/>
<link rel="stylesheet" type="text/css" href="resources/app/css/toggleyesnoswitch.css"/>
<meta charset="ISO-8859-1" />
<title>SalesFast Home</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="outer-container">
		<div class="left-nav" id="cssmenu">
			<ul class="left-menu-ul">
				<li class='active today-appointment-li' ><a href='/showappointments'><span>TODAY's APPOINTMENTS</span></a></li>
				<li class='last future-appointment-li'><a href='/showfutureappointments'><span>FUTURE APPOINTMENTS</span></a></li>
				<li class='last past-appointment-li'><a href='/pastappointments'><span>PAST APPOINTMENTS</span></a></li>
			</ul>
		</div>
		<div class="container" id="layout">
			<div class="row row-header page-header"><h3>Your past appointments</h3></div>
			<div class="row date-filter-row">
				<div class="basic-search-div">
					<div class="filter-label">Filter for basic search</div>
					<span class="year-label date-selector-label">Year : </span>
					<div class="year-selector-div date-div">
						<select class="year-selector search-filter-param" name="year">
							<option value="2016" selected="selected">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
							<option value="2023">2023</option>
							<option value="2024">2024</option>
							<option value="2025">2025</option>
						</select>
					</div>
					<span class="month-label date-selector-label">Month : </span>
					<div class="month-selector-div date-div">
						<select class="month-selector search-filter-param" name="day">
							<option value="0">month</option>
							<option value="01">Jan</option>
							<option value="02">Feb</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>
					<span class="day-label date-selector-label">Day : </span>
					<div class="day-selector-div date-div">
						<select class="day-selector search-filter-param" name="day" disabled="disabled">
							<option value="0">day</option>
							
						</select>
					</div>
					<span class="status-label date-selector-label">Status : </span>
					<div class="status-selector-div date-div">
						<select class="status-selector search-filter-param" name="status">
							<option value="none" selected="selected">select status</option>
							<option value="LOST">LOST</option>
							<option value="PRESCRIBING">PRESCRIBING</option>
						</select>
					</div>
				</div>
				<div class="advanced-search">
					<div class="filter-label advanced-search-label">Advanced Search</div>
					<span class="phys-response-label phys-response-selector-label">Physician responses : </span>
					<div class="phys-response-selector-div advance-filter-div">
						<select class="phys-response search-filter-param" name="year">
							<option value='none' selected="selected">remove this filter</option>
							<option value="presentation">Physician did not like presentation</option>
							<option value="confidence">SalesRep was not confident</option>
							<option value="reputation">Physician was not impressed with org's reputation</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<table id="past-appointments-table" class="table table-bordered past-appointment-table-class">
						<thead>
							<tr>
								<th style="display:none" class="physician-id">Physician Id</th>
								<th>Physician Name</th>
								<th style="display:none" class="product-id">Product Id</th>
								<th>Product</th>
								<th>Date</th>
								<th>Status</th>
								<th>Further Details</th>	
								<th style="display: none" class="physician-input">Physician Input</th>			
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
					
		</div>
	</div>
	
	
			<!-- Modal for VIEWING PAST APPOINTMENT DETAILS-->
	<div th:replace="pastappointmentdetailmodal :: past-appointment-details-modal"></div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/pastappointment.js"></script>
</body>
</html>