<!DOCTYPE html>
<html>
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/products.css"/>
<meta charset="UTF-8" />
<title>View Products</title>
</head>
<body>

	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	
	<div class="outer-container">
		<div class="left-nav" id='cssmenu'>
			<ul class="left-menu-ul">
				<li class='active view-products' ><a href='/allproducts'><span>VIEW PRODUCTS</span></a></li>
				<li class='last add-products'><a href='/addproductspage'><span>ADD PRODUCTS</span></a></li>
			</ul>
		</div>
		<div class="container" id="layout">
			<div class="row row-header page-header"><h3>BioPharma Products</h3></div>
			<div class="row product-selector-div">
				<select class="product-selector validate-ele" name="product">
					<option disabled="disabled" selected="selected" value="none"> -- select a product-- </option>
					<option  value="3">O_Med_1</option>
					<option  value="4">O_Med_2</option>
				</select>
				<div class="product-description" style="display: none;">
					<table id="products-description-table"><thead></thead>
						<tbody>
							<tr class="product-3 description" style="display:none">
								<td class="descr-label label-med-field">Medical Field : </td>
								<td class="descr-value medical-field">ONCOLOGY</td>
							</tr>
							<tr class="product-3 description" style="display:none">
								<td class="descr-label label-release-date">Released On : </td>
								<td class="descr-value release-date">2016-01-30</td>
							</tr>
							<tr class="product-4 description" style="display:none">
								<td class="descr-label label-med-field">Medical Field : </td>
								<td class="descr-value medical-field">ONCOLOGY</td>
							</tr>
							<tr class="product-4 description" style="display:none">
								<td class="descr-label label-release-date">Released On : </td>
								<td class="descr-value release-date">2015-11-14</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row row-custom-style">
				<div class="col-lg-3 btn-left-panel">
				
				</div>
	        </div>
		</div>
	</div>

<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="resources/app/js/products.js"></script>
</body>
</html>