<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/salesrepperformancesr.css"/>

<title>YourPerformance</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="outer-container">
		<div class="left-nav" id='cssmenu'>
			<ul class="left-menu-ul">
				<li class='active meeting-analysis' ><a href='/datareport'><span>MEETING ANALYSIS</span></a></li>
				<li class='last salesrep-performance'><a href='/salesrepperformance'><span>MY PERFORMANCE</span></a></li>
			</ul>
		</div>
		<div class="filter-selector-div">
			<div class="month-selection-div paramter-selection-div">
				<div class="month-selector-label filter-selector-label">SELECT A MONTH</div>
					<select class="performance-month-selector filter-selectors" name="day">
						<option value="0" disabled="disabled">month</option>
						<option value="1">Jan</option>
						<option value="2">Feb</option>
						<option value="3">March</option>
						<option value="4" selected="selected">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
			</div>
		</div>
		
		<div class="container" id="layout">
			<!-- <div class="row row-header page-header"><h1>Sales Representative's performance</h1></div>
			<div class="row row-chart">	
				<div id="container-daily-meeting"  class="col-md-12" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
			<div class="row row-chart">
				<div id="container-salesrep-meetingperformance" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				<div id="container-salesrep-presentation" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
			</div> -->
			<!-- <div class="salesrep-appointment-details">
				<div class="row row-header page-header"></div>
				<div class="row date-filter-row">
					<div class="basic-search-div">
						<div class="filter-label">Filter for basic search</div>
						<span class="year-label date-selector-label">Year : </span>
						<div class="year-selector-div date-div">
							<select class="year-selector search-filter-param" name="year">
								<option value="2016" selected="selected">2016</option>
								<option value="2017">2015</option>
								<option value="2018">2014</option>
								<option value="2019">2013</option>
								<option value="2020">2012</option>
								<option value="2021">2011</option>
								<option value="2022">2010</option>
								<option value="2023">2009</option>
								<option value="2024">2008</option>
								<option value="2025">2007</option>
							</select>
						</div>
						<span class="month-label date-selector-label">Month : </span>
						<div class="month-selector-div date-div">
							<select class="month-selector search-filter-param" name="day">
								<option value="0">month</option>
								<option value="01">Jan</option>
								<option value="02">Feb</option>
								<option value="03">March</option>
								<option value="04">April</option>
								<option value="05">May</option>
								<option value="06">June</option>
								<option value="07">July</option>
								<option value="08">August</option>
								<option value="09">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
							</select>
						</div>
						<span class="day-label date-selector-label">Day : </span>
						<div class="day-selector-div date-div">
							<select class="day-selector search-filter-param" name="day" disabled="disabled">
								<option value="0">day</option>
								
							</select>
						</div>
						<span class="status-label date-selector-label">Status : </span>
						<div class="status-selector-div date-div">
							<select class="status-selector search-filter-param" name="status">
								<option value="none" selected="selected">select status</option>
								<option value="LOST">LOST</option>
								<option value="PRESCRIBING">PRESCRIBING</option>
							</select>
						</div>
					</div>
					<div class="advanced-search">
						<div class="filter-label advanced-search-label">Advanced Search</div>
						<span class="phys-response-label phys-response-selector-label">Physician responses : </span>
						<div class="phys-response-selector-div advance-filter-div">
							<select class="phys-response search-filter-param" name="year">
								<option value='none' selected="selected">remove this filter</option>
								<option value="presentation">Physician did not like presentation</option>
								<option value="confidence">SalesRep was not confident</option>
								<option value="reputation">Physician was not impressed with org's reputation</option>
							</select>
						</div>
					</div>
				</div>
				
			</div> -->
		</div>
	</div>
		<!-- Modal for VIEWING SALESREP's PAST APPOINTMENT DETAILS-->
	<div th:replace="pastappointmentdetailmodal :: past-appointment-details-modal"></div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/salesrepperformancesr.js"></script>
</body>
</html>