<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/salesrepperformance.css"/>

<title>Sales Rep Performance</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="outer-container">
		<div class="left-nav" id='cssmenu'>
			<ul class="left-menu-ul">
				<li class='active meeting-analysis' ><a href='/datareport'><span>MEETING ANALYSIS</span></a></li>
				<li class='last salesrep-performance'><a href='/salesrepperformance'><span>SALES REP PERFORMANCE</span></a></li>
			</ul>
		</div>
		<div class="filter-selector-div">
			<div class="salesrep-selection-div paramter-selection-div">
				<div class="salesrep-selector-label filter-selector-label">SELECT A SALES REP</div>
				<select class="salesrep-selector filter-selectors validate-ele" name="salesrep">
					<option value="0" disabled="disabled">-- select sales rep --</option>
				</select>
			</div>
			<div class="month-selection-div paramter-selection-div">
				<div class="month-selector-label filter-selector-label">SELECT A MONTH</div>
					<select class="month-selector search-filter-param" name="day">
						<option value="0" disabled="disabled">month</option>
						<option value="1">Jan</option>
						<option value="2">Feb</option>
						<option value="3">March</option>
						<option value="4" selected="selected">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
			</div>
		</div>
		
		<div class="container" id="layout">
			<!-- <div class="row row-header page-header"><h1>Sales Representative's performance</h1></div>
			<div class="row row-chart">	
				<div id="container-daily-meeting"  class="col-md-12" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
			<div class="row row-chart">
				<div id="container-salesrep-meetingperformance" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				<div id="container-salesrep-presentation" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
			</div> -->
		</div>
	</div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/salesrepperformance.js"></script>
</body>
</html>