<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/samplefeedbackreport.css"/>
<meta charset="ISO-8859-1" />
<title>Sample Med Analysis</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="outer-container">
		<div class="left-nav" id='cssmenu'>
			<ul class="left-menu-ul">
				<li class='active live-meeting-qna-li' ><a href='/livemeetingquestions'><span>LIVE MEETING QnA</span></a></li>
				<li class='last submit-answer-li'><a href='/unansweredques'><span>ANSWER A QUESTION</span></a></li>
				<li class='last sample-med-li'><a href='/samplefeedbackreport'><span>MEDICINE FEEDBACKs</span></a></li>
			</ul>
		</div>
		<div class="container" id="layout">
			<div class="row row-header page-header"><h3>Sample medicine feedback analysis</h3></div>
			<div class="row row-custom-style">
	          <div class="col-lg-3 btn-left-panel">
	          </div>
	        </div>
		</div>
	</div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/samplefeedbackreport.js"></script>
</body>
</html>