<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/appointments.css"/>
<meta charset="ISO-8859-1" />
<title>SalesFast Home</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container" id="layout">
		<div class="page-heading row"><h1>Your Appointments For Today</h1></div>
		<div class="row update-buttons-row">
			<div class="col-lg-12 col-sm-12 table-buttons">
				<button type="button" class="btn btn-default btn-md add-meeting-update-btn"
					data-toggle="modal" data-target="#meetingupdate-add-modal" disabled="disabled">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<span>Add Meeting Update</span>
				</button>
				<button id="meeting-experience-modal-btn" type="button" class="btn btn-default btn-md add-meeting-experience-btn" 
					data-toggle="modal" data-target="#meetingexperience-add-modal" disabled="disabled">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<span>Add Meeting Experience</span>
				</button>
				<!-- <button id="book-open-delete-modal-btn" type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#book-delete-modal" disabled="disabled">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					<span th:text="Delete">Delete</span>
				</button> -->
				
			</div> 
		</div>
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<table id="appointment-fixed-physician-table" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th style="display:none">Appointment Id</th>
							<th style="display:none">Physician Id</th>
							<th>Physician Name</th>
							<th>Address</th>
							<th>Contact</th>
							<th>Email Id</th>
							<th>Confirmation Status</th>
							<th>Time of appointment</th>
							<th>Product</th>
							<th style="display:none">Has Meeting Update</th>
							<th style="display:none">Has Meeting Experience</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="eachAppointment : ${listOfAppointments}">
							<td style="display:none" th:text="${eachAppointment.appointmentId}"></td>
							<td style="display:none" th:text="${eachAppointment.physicianId}"></td>
							<td th:text="${eachAppointment.physicianName}"></td>
							<td th:text="${eachAppointment.address}"></td>
							<td th:text="${eachAppointment.contact}"></td>
							<td th:text="${eachAppointment.emailId}"></td>
							<td th:text="${eachAppointment.confirmationStatus}"></td>
							<td th:text="${eachAppointment.time}"></td>
							<td th:text="${eachAppointment.product}"></td>
							<td style="display:none" th:text="${eachAppointment.hasMeetingUpdate}"></td>
							<td style="display:none" th:text="${eachAppointment.hasMeetingExperience}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

							<!-- Table that lists physician in vicinity of fixed appointments  -->
		<div class="row"><p class="slidedown-alignments"><a href="#">Click here to find physicians in vicinity</a></p></div>
		<div class="vicinity-aligned-phys-div slidedown-alignments-show" style="display: none;">
			<div class="row">
				<div class="col-lg-12 col-sm-12" >
					<table id="aligned-vicinity-physician-table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Physician Id</th>
								<th>Physician Name</th>
								<th>Email Id</th>
								<th>Contact</th>
								<th>Address</th>
								<th>City</th>
								<th>State</th>
								<th>ZIP</th>
								<th>Medical Field</th>
								<th>Product</th>
								<th style="display:none">Product Id</th>
								<th>Is a new Physician?</th>
								<th>Date</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="eachVicinityAlignment : ${listOfPhysInVicinity}">
								<td th:text="${eachVicinityAlignment.physicianId}"></td>
								<td th:text="${eachVicinityAlignment.firstName} + ' '+${eachVicinityAlignment.lastName}"></td>
								<td th:text="${eachVicinityAlignment.email}"></td>
								<td th:text="${eachVicinityAlignment.contactNumber}"></td>
								<td th:text="${eachVicinityAlignment.addressLineOne} +' '+ ${eachVicinityAlignment.addressLineTwo}"></td>
								<td th:text="${eachVicinityAlignment.city}"></td>
								<td th:text="${eachVicinityAlignment.state}"></td>
								<td th:text="${eachVicinityAlignment.zip}"></td>
								<td th:text="${eachVicinityAlignment.medicalField}"></td>
								<td th:text="${eachVicinityAlignment.productName}"></td>
								<td style="display:none" th:text="${eachVicinityAlignment.productId}"></td>								
								<td th:unless="${eachVicinityAlignment.isNew}" th:text="NO"></td>
								<td th:if="${eachVicinityAlignment.isNew}" th:text="YES"></td>
								<td><input class="appointment-date" type="date" disabled="disabled"/></td>
								<td><input class="appointment-time" type="time" disabled="disabled"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row submit-for-appointments"><button type="submit" class="submit-selected-alignments">Submit Appointments</button></div>
		</div>
	</div>
	
	
							<!-- Modal for adding meeting updates -->
	<div class="modal fade" id="meetingupdate-add-modal" role="dialog" data-edit-mode="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="addMeetingUpdateLabel">Meeting update</h4>
				</div>
				<div class="modal-body">
					<form id="meeting-update-form" class="form-horizontal">
						<div class="form-group" id="physician-id" style="display:none">
							<label class="col-xs-3 control-label" id="id-label">ID</label>
							<div class="col-xs-7">
								<input name="id" type="text" class="form-control validate-ele" id="id-name" disabled="disabled"/> 
							</div>
						</div>
						
						<div class="form-group" id="product-name-id" style="display:none">
							<label class="col-xs-3 control-label" id="product-label">Product</label>
							<div class="col-xs-7">
								<input name="product" type="text" class="form-control validate-ele" id="product-name" disabled="disabled"/> 
							</div>
						</div>
												
						<div class="form-group">
							<label class="col-xs-5 control-label" id="edetailing-label">Opting for e-Detailing</label>
							<div class="col-xs-5">
								<select class="edetailing-flag-selector validate-ele form-control select-bool-flag" name="edetailing">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-5 control-label" id="status-label">Physician Status</label>
							<div class="col-xs-5">
								<select class="phys-status-selector validate-ele" name="physicianstatus"> <!-- multiple="multiple"> -->
									<option value="prescribing">Prescribing</option>
									<option value="prospecting">Prospecting</option>
									<option value="lost">Lost</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="meetingupdate-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="meetingupdate-add-button" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	
							<!-- Modal for adding meeting experience updates -->
	<div class="modal fade" id="meetingexperience-add-modal" role="dialog" data-edit-mode="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="addMeetingExperienceLabel">Meeting experience</h4>
				</div>
				<div class="modal-body">
					<form id="meeting-experience-form" class="form-horizontal">
						<div class="form-group" id="physicianStatus" style="display:none">
							<label class="col-xs-3 control-label" id="status-label">Status</label>
							<div class="col-xs-7">
								<input name="status" type="text" class="form-control validate-ele" id="status-id" disabled="disabled"/> 
							</div>
						</div>
												
						<div class="form-group">
							<label class="col-xs-7 control-label" id="liked-product-id">Did physician genuinely liked the product?</label>
							<div class="col-xs-5">
								<select class="likedproduct-flag-selector validate-ele form-control select-bool-flag" name="liked-product">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="price-affordable-id">Does physician think the price is affordable?</label>
							<div class="col-xs-5">
								<select class="priceaffordable-flag-selector validate-ele form-control select-bool-flag" name="price-affordable">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="less-sideeffects-id">Does physician think medicine has less side effects?</label>
							<div class="col-xs-5">
								<select class="less-sideeffects-flag-selector validate-ele form-control select-bool-flag" name="less-side-effects">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-7 control-label" id="liked-presentation-id">Did physician like the presentations?</label>
							<div class="col-xs-5">
								<select class="likedpresentation-flag-selector validate-ele form-control select-bool-flag" name="liked-presentation">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="confidence-factor-id">Was physician influenced by your confidence during presentation?</label>
							<div class="col-xs-5">
								<select class="confidence-flag-selector validate-ele form-control select-bool-flag" name="confidence-factor">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-7 control-label" id="company-reputation-id">Was physician impressed with BioPharma's reputation?</label>
							<div class="col-xs-5">
								<select class="companyreputation-flag-selector validate-ele form-control select-bool-flag" name="company-reputation">
									<option value="1">YES</option>
									<option value="0">NO</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" id="appointment-id" style="display:none">
							<label class="col-xs-3 control-label" id="appointment-id-label">Appointment Id</label>
							<div class="col-xs-7">
								<input name="status" type="text" class="form-control validate-ele" id="appointment-id" disabled="disabled"/> 
							</div>
						</div>
						
					</form>
				</div>
				<div class="modal-footer">
					<button id="meetingexperience-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="meetingexperience-add-button" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/showappointments.js"></script>
</body>
</html>