<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/alignments.css"/>
<meta charset="ISO-8859-1" />
<title>SalesFast Home</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container" id="layout">
		<div class="page-heading row"><h1>Your Alignments</h1></div>
		<div class="row alignment-table-row">
			<div class="col-lg-12 col-sm-12">
				<table id="aligned-physician-table" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th style="display:none">Physician Id</th>
							<th>Physician Name</th>
							<th>Email Id</th>
							<th>Contact</th>
							<th>Address</th>
							<th style="display:none">City</th>
							<th style="display:none">State</th>
							<th style="display:none">ZIP</th>
							<th style="display:none">Medical Field</th>
							<th>Product</th>
							<th style="display:none">Product Id</th>
							<th>Is a new Physician?</th>
							<th>Date</th>
							<th>Time</th>
							<th>Appointment Status</th>
							<th>Notes</th>
							<th style="display:none">Importance Factor</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="eachAlignment : ${listOfAlignedPhysician}">
							<td style="display:none" th:text="${eachAlignment.physicianId}"></td>
							<td class="physician-name" th:text="${eachAlignment.firstName} + ' '+${eachAlignment.lastName}"></td>
							<td th:text="${eachAlignment.email}"></td>
							<td th:text="${eachAlignment.contactNumber}"></td>
							<td th:text="${eachAlignment.addressLineOne} +' '+ ${eachAlignment.addressLineTwo}+' '+${eachAlignment.city}+' '+${eachAlignment.zip}"></td>
							<td style="display:none" th:text="${eachAlignment.city}"></td>
							<td style="display:none" th:text="${eachAlignment.state}"></td>
							<td style="display:none" th:text="${eachAlignment.zip}"></td>
							<td style="display:none" th:text="${eachAlignment.medicalField}"></td>
							<td th:text="${eachAlignment.productName}"></td>
							<td style="display:none" th:text="${eachAlignment.productId}"></td>
							<td th:unless="${eachAlignment.isNew}" th:text="NO"></td>
							<td th:if="${eachAlignment.isNew}" th:text="YES"></td>
							<td><input class="appointment-date appointment-paramaters" type="date" disabled="disabled"/></td>
							<td class="appointment-time-td">
								<span class="time-label">Start@</span><input class="appointment-start-time appointment-paramaters top time-entry" title="Enter start time of meeting"
		   							data-original-title="Enter start time of meeting" type="time" disabled="disabled"/>
								<span class="time-label">End@</span><input class="appointment-end-time appointment-paramaters top time-entry" title="Enter end time of meeting"
		   							data-original-title="Enter end time of meeting" type="time" disabled="disabled"/>
							</td>
							<td>
								<div class="col-xs-5">
									<select class="appointment-status-selector validate-ele appointment-paramaters" name="appointmentstatus" disabled="disabled"> <!-- multiple="multiple"> -->
										<option value="CONFIRMED">Confirmed</option>
										<option value="FOLLOW UP">Follow Up</option>
										<option value="NOT INTERESTED">Not Interested</option>
									</select>
								</div>
							</td>
							<td><textarea name="id" class="form-control appointment-notes-class appointment-paramaters" 
							id="appointment-notes-id" placeholder="Additional notes" rows="2" required="required" disabled="disabled"></textarea></td>
							<td class="importance-factor" style="display:none" th:text="${eachAlignment.importanceFactor}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row submit-for-appointments"><button type="button" class="btn btn-default submit-selected-alignments">Submit Appointments</button></div>
	</div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/showalignments.js"></script>
</body>
</html>