<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/appointments.css"/>
<link rel="stylesheet" type="text/css" href="resources/app/css/toggleyesnoswitch.css"/>
<meta charset="ISO-8859-1" />
<title>SalesFast Home</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="outer-container">
		<div class="left-nav" id="cssmenu">
			<ul class="left-menu-ul">
				<li class='active today-appointment-li' ><a href='/showappointments'><span>TODAY's APPOINTMENTS</span></a></li>
				<li class='last future-appointment-li'><a href='/showfutureappointments'><span>FUTURE APPOINTMENTS</span></a></li>
				<li class='last past-appointment-li'><a href='/pastappointments'><span>PAST APPOINTMENTS</span></a></li>
			</ul>
		</div>
		<div class="container" id="layout">
			<div class="future-appointment-div">
				<div class="row row-header page-header"><h3>Future Appointments!</h3></div>
				<div class="row date-filter-row">
					<div class="filter-label">Filter for quick search</div>
					<span class="year-label date-selector-label">Year : </span>
					<div class="year-selector-div date-div">
						<select class="year-selector search-filter-param" name="year">
							<option value="2016" selected="selected">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
							<option value="2023">2023</option>
							<option value="2024">2024</option>
							<option value="2025">2025</option>
						</select>
					</div>
					<span class="month-label date-selector-label">Month : </span>
					<div class="month-selector-div date-div">
						<select class="month-selector search-filter-param" name="day">
							<option value="0">month</option>
							<option value="01">Jan</option>
							<option value="02">Feb</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>
					<span class="day-label date-selector-label">Day : </span>
					<div class="day-selector-div date-div">
						<select class="day-selector search-filter-param" name="day" disabled="disabled">
							<option value="0">day</option>
							
						</select>
					</div>
				</div>
				<div class="row future-appointment-div"><div th:replace="futureappointmentmodal :: futureappointmentmodal-body"></div></div>
			</div>
		</div>
	</div>
	
							<!-- Modal for viewing future appointments -->
	<div th:replace="futureappointmentmodal :: futureappointmentmodal"></div>
	
						<!-- Modal for UPLOADING meeting pitch-->
	<div th:replace="uploadpitchmodal :: upload-meeting-pitch-modal"></div>
	
							<!-- Modal for VIEWING meeting pitch-->
	<div th:replace="viewpitchmodal :: view-meeting-pitch-modal"></div>
	
							<!-- Modal for entering cancellation reason -->
	<div th:replace="appointmentcancelmodal :: appointment-cancellation-modal"></div>
	
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/showappointments.js"></script>
<script  type="text/javascript" src="resources/app/js/futureappointment.js"></script>
</body>
</html>