<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Header to include css -->
<div th:replace="fragments/header :: commonhead"></div>
<link rel="stylesheet" type="text/css" href="resources/app/css/virtuallearning.css"/>
<meta charset="ISO-8859-1" />
<title>Virtual Learning</title>
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container" id="layout">
		<div class="row row-header page-header"><h3>Your Integrated Virtual Learning Environment!</h3></div>
		<!-- <div class="row">
			<object data="resources/docs/virtuallearning/O_Med_1.pdf" type="application/pdf">
				<embed src="resources/docs/virtuallearning/O_Med_1.pdf" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
				</embed>
			</object>
		</div> -->
		
		<div class="row row-custom-style">
           <div class="col-lg-6 btn-left-panel" style="padding-right:20px; border-right: 1px solid #ccc;">
				<label class="form-control">Document Category</label>
				<input type="button" class="form-control btn-success show-doc" value="example" /><br/>
				<input type="button" class="form-control btn-success" value="example" /><br/>
				<input type="button" class="form-control btn-success" value="example" /><br/>
				<input type="button" class="form-control btn-success" value="example" /><br/>
           </div>
           <div class="col-lg-6 doc-right-panel" style="display: none;">
				<object class="pdf-doc-object pdf-doc-object-slidedown" data="resources/docs/virtuallearning/O_Med_1.pdf" type="application/pdf" >
					<embed src="resources/docs/virtuallearning/O_Med_1.pdf" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
					</embed>
				</object>
           </div>
         </div>
	</div>
<!-- Common footer -->
<div th:replace="fragments/footer :: footer"></div>
<script  type="text/javascript" src="resources/app/js/virtuallearning.js"></script>
</body>
</html>